In [14]:
import pandas as pd
import numpy as np
import os

In [15]:
lordo = pd.read_csv('/Users/matteomasserano/Desktop/Data Analysis/Boolean/Progetto finale/Notebook/Salari/Lordo/Total_lordo',index_col=0)
netto = pd.read_csv('/Users/matteomasserano/Desktop/Data Analysis/Boolean/Progetto finale/Notebook/Salari/Netto/Total_netto', index_col=0)

In [16]:
netto.head()

,Player,Net Week,Net Year,Position,Age,Country,Club,Year,Number
0,Cristiano Ronaldo,"€ 596,154","€ 31,000,000",F,35,Portugal,Juventus,2020,0
1,Edin Dzeko,"€ 144,231","€ 7,500,000",F,34,Bosnia-Herzegovina,Roma,2020,1
2,Paulo Dybala,"€ 140,385","€ 7,300,000",F,26,Argentina,Juventus,2020,2
3,Leonardo Bonucci,"€ 125,000","€ 6,500,000",D,33,Italy,Juventus,2020,3
4,Wojciech Szczesny,"€ 125,000","€ 6,500,000",K,30,Poland,Juventus,2020,4

In [17]:
lordo.head()

    Gross Week    Gross Year  Year  Number
0  € 1,104,038  € 57,410,000  2020       0
1    € 267,115  € 13,890,000  2020       1
2    € 260,000  € 13,520,000  2020       2
3    € 231,538  € 12,040,000  2020       3
4    € 231,538  € 12,040,000  2020       4

In [18]:
total = netto.merge(lordo, on=['Year', 'Number'])
total.head()

,Player,Net Week,Net Year,Position,Age,Country,Club,Year,Number,Gross Week,Gross Year
0,Cristiano Ronaldo,"€ 596,154","€ 31,000,000",F,35,Portugal,Juventus,2020,0,"€ 1,104,038","€ 57,410,000"
1,Edin Dzeko,"€ 144,231","€ 7,500,000",F,34,Bosnia-Herzegovina,Roma,2020,1,"€ 267,115","€ 13,890,000"
2,Paulo Dybala,"€ 140,385","€ 7,300,000",F,26,Argentina,Juventus,2020,2,"€ 260,000","€ 13,520,000"
3,Leonardo Bonucci,"€ 125,000","€ 6,500,000",D,33,Italy,Juventus,2020,3,"€ 231,538","€ 12,040,000"
4,Wojciech Szczesny,"€ 125,000","€ 6,500,000",K,30,Poland,Juventus,2020,4,"€ 231,538","€ 12,040,000"

In [19]:
total = total[['Player', 'Age', 'Country', 'Position', 'Club', 'Net Week', 'Net Year', 'Gross Week', 'Gross Year', 'Year']]

In [20]:
total.head()

,Player,Age,Country,Position,Club,Net Week,Net Year,Gross Week,Gross Year,Year
0,Cristiano Ronaldo,35,Portugal,F,Juventus,"€ 596,154","€ 31,000,000","€ 1,104,038","€ 57,410,000",2020
1,Edin Dzeko,34,Bosnia-Herzegovina,F,Roma,"€ 144,231","€ 7,500,000","€ 267,115","€ 13,890,000",2020
2,Paulo Dybala,26,Argentina,F,Juventus,"€ 140,385","€ 7,300,000","€ 260,000","€ 13,520,000",2020
3,Leonardo Bonucci,33,Italy,D,Juventus,"€ 125,000","€ 6,500,000","€ 231,538","€ 12,040,000",2020
4,Wojciech Szczesny,30,Poland,K,Juventus,"€ 125,000","€ 6,500,000","€ 231,538","€ 12,040,000",2020

In [21]:
total.Position.unique()

array(['F', 'D', 'K', 'M'], dtype=object)

In [22]:
total['Position'] = total['Position'].replace('K', 'Goalkeeper')
total['Position'] = total['Position'].replace('D', 'Defender')
total['Position'] = total['Position'].replace('M', 'Midfielder')
total['Position'] = total['Position'].replace('F', 'Forward')

In [23]:
total

,Player,Age,Country,Position,Club,Net Week,Net Year,Gross Week,Gross Year,Year
0,Cristiano Ronaldo,35,Portugal,Forward,Juventus,"€ 596,154","€ 31,000,000","€ 1,104,038","€ 57,410,000",2020
1,Edin Dzeko,34,Bosnia-Herzegovina,Forward,Roma,"€ 144,231","€ 7,500,000","€ 267,115","€ 13,890,000",2020
2,Paulo Dybala,26,Argentina,Forward,Juventus,"€ 140,385","€ 7,300,000","€ 260,000","€ 13,520,000",2020
3,Leonardo Bonucci,33,Italy,Defender,Juventus,"€ 125,000","€ 6,500,000","€ 231,538","€ 12,040,000",2020
4,Wojciech Szczesny,30,Poland,Goalkeeper,Juventus,"€ 125,000","€ 6,500,000","€ 231,538","€ 12,040,000",2020
...,...,...,...,...,...,...,...,...,...,...
11596,Rafael Romo,21,Venezuela,Goalkeeper,Udinese,€ 0,€ 0,€ 0,€ 0,2011
11597,Riccardo Dimitrio,16,Italy,Forward,Udinese,€ 0,€ 0,€ 0,€ 0,2011
11598,Simone Deana,18,Italy,Defender,Udinese,€ 0,€ 0,€ 0,€ 0,2011
11599,Simone Sbardella,18,Italy,Defender,Udinese,€ 0,€ 0,€ 0,€ 0,2011
11600,Adrià Carmona,19,Spain,Forward,AC Milan,€ 0,€ 0,€ 0,€ 0,2011

In [24]:
seasons = [2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022]

In [25]:
total['Net Week'] = total['Net Week'].str.replace(',', '')

In [26]:
total['Gross Week'] = total['Gross Week'].str.replace(',', '')
total['Net Year'] = total['Net Year'].str.replace(',', '')
total['Gross Year'] = total['Gross Year'].str.replace(',', '')

In [27]:
total.to_csv('/Users/matteomasserano/Desktop/Data Analysis/Boolean/Progetto finale/Notebook/Salari/Totale/Salari totale.csv')

In [28]:
for season in seasons:

    df = total.loc[(total['Year']==season)].copy()

    df.to_csv(f'/Users/matteomasserano/Desktop/Data Analysis/Boolean/Progetto finale/Notebook/Salari/Totale/{season}.csv')

In [29]:
df

,Player,Age,Country,Position,Club,Net Week,Net Year,Gross Week,Gross Year,Year
2166,Dusan Vlahovic,23,Serbia,Forward,Juventus,€ 134615,€ 7000000,€ 249231,€ 12960000,2022
2167,Samuel Umtiti,29,France,Defender,Lecce,€ 184615,€ 9600000,€ 236731,€ 12310000,2022
2168,Wojciech Szczesny,33,Poland,Goalkeeper,Juventus,€ 125000,€ 6500000,€ 231538,€ 12040000,2022
2169,Leonardo Bonucci,35,Italy,Defender,Juventus,€ 125000,€ 6500000,€ 231538,€ 12040000,2022
2170,Marcelo Brozovic,30,Croatia,Midfielder,Inter Milan,€ 115385,€ 6000000,€ 213654,€ 11110000,2022
...,...,...,...,...,...,...,...,...,...,...
2810,Julius Beck,17,Denmark,Midfielder,Spezia,€ 385,€ 20000,€ 500,€ 26000,2022
2811,Marley Aké,21,France,Forward,Juventus,€ 0,€ 0,€ 0,€ 0,2022
2812,Filippo Tripi,20,Italy,Defender,Roma,€ 0,€ 0,€ 0,€ 0,2022
2813,Andreas Jungdal,20,Denmark,Goalkeeper,AC Milan,€ 0,€ 0,€ 0,€ 0,2022
2814,Gabriel Brazão,21,Brazil,Goalkeeper,Inter Milan,€ 0,€ 0,€ 0,€ 0,2022